<div class="container d-flex justify-content-center">
  <ng-container *ngIf="isReadyToExchange(); else elseTemplate">
    <h2>Exchange {{exchange.currencyAmountSold  | number:'.1-3'}} {{exchange.currencySold}} to {{getExchangeToAmount() | number:'.1-3'}} {{exchange.currencyPurchase}}</h2>
  </ng-container>
  <ng-template #elseTemplate>
    <h2>Currency Exchange </h2>
  </ng-template>
</div>


<div class="container d-flex justify-content-center mb-2">

<app-currency-select [capture]="'From'" formControlName="currencySold" class="app-currency-select"
[items]="getCurrencis() | filterExcludeValue:exchange.currencyPurchase:!isBothSelected()"
[value]="exchange.currencySold"
(onChange)="onChangeFrom($event)"
></app-currency-select>


  <app-currency-select [capture]="'To'" class="app-currency-select"
   [items]="getCurrencis() | filterExcludeValue:exchange.currencySold:!isBothSelected()"
   [value]="exchange.currencyPurchase"
   (onChange)="onChangeTo($event)"
   ></app-currency-select>


  <input type="number" placeholder="currency amount" step="0.001" min="0" max="10000000000000" 
    [NumberInpupPercision]="3"
    [NumberMaximumDigitsCount]="13"
    list="predefinedExchangeAmount"
    [(ngModel)]="exchange.currencyAmountSold" #number
    class="form-control mx-2" id="currency-value">

    <datalist id="predefinedExchangeAmount">
      <option value="500">
      <option value="250">
      <option value="100">
      <option value="50">
      <option value="10">
    </datalist>

  <button type="button" name="exchange-button" id="button-exchage"
    (click)="makeExchange()"
    class="btn btn-success mx-2"
    [class.disabled]="!isReadyToExchange()">Exchange</button>


</div>
<br>
