<form #form="ngForm" class="mt-5">
  <h2>Login</h2>

  <label for="username" class="form-label">User name:</label>
  <input
    [(ngModel)]="credentials.username"
    #username="ngModel"
    required minlength="4" maxlength="20"
    type="text"
    id="username"
    name="username"
    [class.is-invalid]="!isFieldValid(username)"
    value="" class="form-control">
    <app-form-errors [component]="username"></app-form-errors>

    <label for="confirmPassword"class="form-label">Password:</label>
    <input
    [(ngModel)]="credentials.password"
    #password="ngModel"
    required minlength="6" maxlength="20"
    type="password"
    name="password"
    id="password"
    [class.is-invalid]="!isFieldValid(password)"
    value="" class="form-control">
    <app-form-errors [component]="password"></app-form-errors>

  <button type="submit" class="my-2 btn btn-primary"
    [class.disabled]="!isFormValid(form)"
    (click)="login()">Login</button>

</form>

